body{
  font-family: Helvetica, sans-serif;
  background-color: rgb(206, 203, 203);
}

h1{
  color: hsl(348, 87%, 49%);
}

form{
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(221, 214, 214);
  width: 450px;
  height: 480px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px;
  margin-top: 20px;

}
#numberBox{
  padding: 5px 10px;
  font-size: 1.5em;
  border-radius: 5px;
  margin:50px 0px;
}

button{
  padding: 10px 20px;
  text-align: center;
  color: white;
  background-color: hsl(0, 86%, 61%);
  border-radius: 5px;
  margin-top: 70px;
  font-size: 1.5em;
  cursor: pointer;
}
button:hover{
  background-color: hsl(0, 90%, 52%);
  
}

label{
  font-size: 1.5em;
  font-weight: bold;

  
}

p{
  font-size: 1.7em;
  font-weight: bold;
  color: hsl(0, 81%, 66%);
}

